.aboutContainer {
  background: #F5F5F5;
  /* display: flex; */
  padding-top: 64px;
}

.about_card {
  margin: auto;
  width: 70%;
  padding: 45px;
  background: #ffff;
  display: flex;
  /* height: 74vh; */
  padding-bottom: 20px;
  margin-top: 80px;
  flex-wrap: wrap;
}

.about_card .about_left {
  flex: 0.5;
}

.about_card .about_left .about_left_header {
  display: flex;
  flex-wrap: wrap;
}

.about_card .about_left .about_left_header .image {
  padding-bottom: 15px;
  flex: 0.4;
}

.about_card .about_left .about_left_header .details {
  padding-bottom: 15px;
  flex: 0.6;
}

.details span, .details strong {
  margin-right: 5px;
  font-size: 20px;
}

.about_card .about_left .about_left_header .details > div{
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
}


.about_card .about_right {
  display: flex;
  /* justify-content: space-evenly; */
  flex: 0.5;
}

.about_right {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.about_right h1 {
  border-bottom: 2px solid cyan;
  margin-bottom: 50px;
  border-width: 30%;
  font-weight: 600;
}

.about_right p {
  font-size: 20px;
  /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  width: 100%;
}

.about_left_title .reactJs {
  position: relative;
  margin: 2px 0px;
  width: 90%;
}

@media (max-width:840px) { 
  /* .about_left_header {
    justify-content: center;
  } */
  
  /* .about_card .about_left .about_left_header .details > div {
    
  } */
    
  .about_card {
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
}

  