@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Barlow&family=Barlow+Condensed:ital,wght@0,700;1,400&family=Heebo:wght@300&family=Josefin+Sans:ital,wght@1,300&family=Kumbh+Sans:wght@800&family=Poppins:wght@300&family=Roboto+Mono:wght@400;600&family=Roboto:wght@100&family=Shippori+Antique&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

html {
  scroll-behavior: smooth;
  background: #F5F5F5;
}

.App {
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(././images/bg.jpg) ;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}